//Adds the required number of cards per line;
//works inside 'card-set-container':  display: flex; flex-wrap: wrap; justify-content: center; align-items: center; (card-set-card-margin * -1)
@mixin card-number-in-line(
  $card-number,
  $top-bottom-card-margin,
  $left-right-card-margin
) {
  flex-basis: calc(
    (100% - 2 * #{$card-number} * #{$left-right-card-margin}) / #{$card-number}
  );
  margin-top: $top-bottom-card-margin;
  margin-right: $left-right-card-margin;
  margin-bottom: $top-bottom-card-margin;
  margin-left: $left-right-card-margin;
}

//Adds media rules for responsive layout
@mixin adaptive-for-phone {
  @media screen and (min-width: $phone) {
    @content;
  }
}

@mixin adaptive-for-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin adaptive-for-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin adaptive-for-laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin adaptive-before-tablet {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin adaptive-before-desktop {
  @media (max-width: $desktop - 1px) {
    @content;
  }
}

//Makes the font responsive
//values are transmitted without units
@function responsive-font-size(
  $min-font-size,
  $max-font-size,
  $min-width,
  $max-width
) {
  $coef: ($max-font-size - $min-font-size) / ($max-width - $min-width);
  $font-size: $min-font-size - $coef * $min-width;

  $font-size: $font-size * 1px;

  @return calc(#{$coef} * 100vw + #{$font-size});
}
