:root {
  //colors
  --primary-dark-color: #3c3c3c;
  --secondary-dark-color: #141414;
  --primary-tiny-dark-color: #646464;
  --primary-light-color: #f5f5f5;
  --secondary-light-color: #fafafa;

  --box-shadow-light: 6px 6px 8px #b8b8b8, -6px -6px 8px #ffffff;
  --box-shadow-dark: 6px 6px 8px #2d2d2d, -6px -6px 8px #4b4b4b;

  //typography
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 900;
  //animation
  --basic-transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//breakpoints for adaptability
$phone: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1920px;
