body {
  font-family: 'Nunito';
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline: none;

  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
}

.section {
  margin-bottom: 30px;
}

.title {
  text-align: center;
}

// ------------------------------------
.light_theme {
  color: var(--primary-dark-color);
  background-color: var(--primary-light-color);
}

.dark_theme {
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
}

.card {
  padding: 20px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-light);

  .dark_theme & {
    box-shadow: var(--box-shadow-dark);
  }
}

.icon {
  $icon-size: 40px;

  width: $icon-size;
  height: $icon-size;
  margin-right: 10px;
}

main {
  padding-top: 70px;
}
