.container {
  width: 100%;
  max-width: $laptop;
  margin: 0 auto;
  padding: 0 15px;

  @include adaptive-for-phone {
    // width: $phone;
  }

  @include adaptive-for-tablet {
    // width: $tablet;
    // padding: 0 15px;
  }

  @include adaptive-for-desktop {
    width: $laptop;
  }
}
